<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layout/metaSection') %>
        <style>
            #files {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            #files td,
            #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }
            
            #files td {
                text-align: left;
            }
            
            #files tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
            #files tr:hover {
                background-color: #ddd;
            }
            
            #files th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: white;
                color: rgba(40, 158, 162, 1);
            }
            
            #splitterMenu {
                position: relative;
                margin: 1%;
                margin-left: 5%;
                width: 90%;
                z-index: 2;
            }
            
            #createSplitFileFromDownload,
            #createSplitFileFromStored {
                position: relative;
                height: 30px;
                background: rgb(240, 240, 240);
                box-shadow: 0px 3px 5px grey;
                width: 150px;
                text-align: center;
                font-family: "Raleway";
                font-size: 22px;
                color: black;
                border: 0px solid black;
                text-align: left;
                margin: 0px !important;
            }
            
            .select-css {
                display: block;
                font-size: 16px;
                font-family: sans-serif;
                font-weight: 700;
                color: #444;
                line-height: 1.3;
                padding: .6em 1.4em .5em .8em;
                width: 100%;
                max-width: 100%;
                /* useful when width is set to anything other than 100% */
                box-sizing: border-box;
                margin: 0;
                border: 1px solid #aaa;
                box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
                border-radius: .5em;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
                background-repeat: no-repeat, repeat;
                /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
                background-position: right .7em top 50%, 0 0;
                /* icon size, then gradient */
                background-size: .65em auto, 100%;
            }
            /* Hide arrow icon in IE browsers */
            
            .select-css::-ms-expand {
                display: none;
            }
            /* Hover style */
            
            .select-css:hover {
                border-color: #888;
            }
            /* Focus style */
            
            .select-css:focus {
                border-color: #aaa;
                /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
                box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
                box-shadow: 0 0 0 3px -moz-mac-focusring;
                color: #222;
                outline: none;
            }
            /* Set options to normal weight */
            
            .select-css option {
                font-weight: normal;
            }
            /* Support for rtl text, explicit support for Arabic and Hebrew */
            
            *[dir="rtl"] .select-css,
             :root:lang(ar) .select-css,
             :root:lang(iw) .select-css {
                background-position: left .7em top 50%, 0 0;
                padding: .6em .8em .5em 1.4em;
            }
            /* Disabled styles */
            
            .select-css:disabled,
            .select-css[aria-disabled=true] {
                color: graytext;
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            }
            
            .select-css:disabled:hover,
            .select-css[aria-disabled=true] {
                border-color: #aaa;
            }
            
            input[type="text"]#splitterMenu::-webkit-input-placeholder {
                color: black;
                border-color: #aaa;
            }
            
            input[type="text"]#splitterMenu::-webkit-input-placeholder {
                width: 150px;
                text-align: center;
                font-family: "Raleway";
                font-size: 20px;
                margin: 10px;
                margin-left: 0px;
                padding: 10px;
                color: firebrick;
                box-shadow: 0px 3px 5px grey;
                line-height: 6px;
            }
            
            .toolsContainter {
                float: left;
                width: 30%;
            }
            
            #AjaxOutput,
            #check {
                clear: both;
                margin: 0%;
            }
        </style>
</head>

<body>
    <%- include ('layout/header') %>
        <div id="navi">
            <ul>
                <li><a href=".">Validate</a></li>
                <li><a class="active" href="/splitter">File Splitter</a></li>
                <li><a href="/files">Stored Files</a></li>
            </ul>
        </div>

        <div id="splitterMenu">
            <h1>File Splitter</h1>
            <h2>Limit <input type="number" id="batchAmount" value="1"></h2>used to set this buffer’s limit.<br>
            <form class="form-signin" role="form">
                <div class="toolsContainter">
                    <h2>via Download</h2>
                    <input type="text" id="url" name="urlFile" placeholder="URL..."><br>
                    <button class="" id="createSplitFileFromDownload" type="button">Create...</button>
                </div>
            </form>
            <!--form class="form-signin" role="form">
                <div class="toolsContainter">
                    <h2>via Upload</h2>
                    <div class="upload-button">
                        <input type="file" name="fileToSplit" id="file">Choose File...
                    </div>
                </div>
            </form-->
            <form class="form-signin" role="form">
                <div class="toolsContainter">
                    <h2>via Stored Files</h2>
                    <select class="select-css" id="selectStoredFile">
                        <% for (var i = 0; i < feedList.length; i++) { %>
                            <option>
                                    <%= feedList[i].file %>
                                </option>>
                            <% } %>
                    </select>
                    <button class="" id="createSplitFileFromStored" type="button">Create...</button>
                </div>
            </form>
            <p id="AjaxOutput"></p>
            <div id="check"> </div>
            <%- include ('layout/loadingHexagon') %>
                <script>
                    $(function() {
                        $('#createSplitFileFromDownload').click(function() {
                            new SplitterManager(true, false, false);
                        });
                        $("#file").change(function() {
                            new SplitterManager(false, true, false);
                        });
                        $('#createSplitFileFromStored').click(function() {
                            new SplitterManager(false, false, true);
                        });
                    });
                    $(document).ajaxStart(function() {
                        $('#loading').show();
                    }).ajaxStop(function() {
                        $('#loading').hide();
                    });
                </script>
</body>

</html>