<form id="feedCommissioner" class="form-signin" action="/signUp" method="post" role="form">
    <input type="text" name="url" class="form-control" id="feedURL" placeholder="Feed URL" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" id="downloadFile" type="button">Download</button>
    <div class="upload-btn-wrapper">
        <button class="btn btn-lg btn-primary btn-block" id="uploadFile">Upload a file</button>
        <input type="file" name="file" id="file" required />
    </div>

</form>