<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/images/feed2.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<title>Feed Commissioner</title>
<script src="js/feedmanager.js"></script>
<script src="js/FeedAnalysis.js"></script>
<script src="js/PreviewItems.js"></script>
<script src="js/MappingTool.js"></script>
<script src="js/ValidateFeedAnalysis.js"></script>
<script src="js/ToolsManager.js"></script>