<div id="toolsModal">
    <button class="btn btn-lg btn-primary btn-block" type="button" id="closeTools" style="float: right;">Close</button><br>
    <div id="filesMenu">
        <h1>Saved Files</h1>
        <button class="btn btn-lg btn-primary btn-block" id="showAllFiles" type="button">Show</button><br>
    </div>
    <div id="splitterMenu">
        <h1>File Splitter</h1>
        <form class="form-signin" role="form">
            <input type="number" value="1"> Number of batches<br>
            <h6>via Download</h6>
            <input type="text" name="urlFile" placeholder="URL...">
            <button class="btn btn-lg btn-primary btn-block" id="createSplitFile" type="button">Create</button><br>
            <h6>via Upload</h6>
            <input type="file" name="fileToSplit">
        </form>
    </div>
    <!--div id="splitterMenu">
    <h1>XML to CSV Converter</h1>
    <form class="form-signin" role="form">
        <input type="number" value="1"> Number of batches<br>
        <h6>via Download</h6>
        <input type="text" name="urlFile" placeholder="URL...">
        <button class="btn btn-lg btn-primary btn-block" id="createSplitFile" type="button">Create</button><br>
        <h6>via Download</h6>
        <input type="file" name="fileToSplit">
    </form>
</div-->
</div>